section.speakers(id="speakers")
    .content.para
        h2 Speakers
        .row-speaker-block
          .speaker-block.row-block
              p.speaker-img
                  img(src="./dist/assets/images/sai.jpg")
              .details
                  h3 Sai Ram
                  p Drupal Developer
        
          .speaker-block.row-block
              p.speaker-img
                  img(src="./dist/assets/images/sai.jpg")
               .details
                  h3 Nithin
                  p Drupal Developer
                          
          .speaker-block.row-block
              p.speaker-img
                  img(src="./dist/assets/images/sai.jpg")
               .details
                  h3 Speaker
                  p Designation
