section.speakers(id="speakers")
    .content.para
        h2 Speakers
        .speaker-block
            p.speaker-img
                img(src="./dist/assets/images/sai.jpg")
            .details
                h3 Speaker
                p Designation
      
        .speaker-block
            p.speaker-img
                img(src="./dist/assets/images/sai.jpg")
             .details
                h3 Speaker
                p Designation
                        
        .speaker-block
            p.speaker-img
                img(src="./dist/assets/images/sai.jpg")
             .details
                h3 Speaker
                p Designation
