section#editions.editions-section
    .content.para
        h2 Past Meetups
    ul.editions
        li
            a(href="https://www.meetup.com/Drupal-Hyderabad/events/240779745/")
                .month Sep
                .day 09
                .year 2017
        li
            a(href="https://www.meetup.com/Drupal-Hyderabad/events/240779637/")
                .month Aug
                .day 19
                .year 2017
        li
            a(href="https://www.meetup.com/Drupal-Hyderabad/events/240779620/")
                .month July
                .day 08
                .year 2017
        li
            a(href="https://www.meetup.com/Drupal-Hyderabad/events/240519586/")
                .month June
                .day 10
                .year 2017
