section#editions.editions-section
    .content.para
        h2 Past Meetups
    ul.editions
        li
            a(href="#")
                .month Sep
                .day 09
                .year 2017
        li
            a(href="#")
                .month Aug
                .day 19
                .year 2017
        li
            a(href="#")
                .month July
                .day 08
                .year 2017
        li
            a(href="#")
                .month June
                .day 10
                .year 2017
