section.footer
   .content
      div.trademark
        p
          | ©Drupal is a
          a(href="//www.drupal.com/trademark" target="_blank")
            span  registered trademark 
          | of
          a(href="//www.drupal.com/trademark" target="_blank")
            span  Dries Buytaert
          | .
      p
        |Designed by 
        a(href="http://www.drupalhyderabad.org" target="_blank")
          span Drupal Hyderabad
