section.faqs(id="faqs")
  .content
    h2 FAQs
    ol
      li.faq
        h1 Do I have to pay for attending the event/meetup?
        p Absolutely NO. It's a free Drupal community event.
        p
          a.drupal-group(href="//groups.drupal.org/hyderabad", target="_blank") Join Us at Drupal Groups

      li.faq
        h1 I'm not from Drupal background, can I attend?
        p This is not for totally beginners and participants are expected to know the basics on Drupal, Anyways you can attend the session someone from us might help you to start learning drupal.
      li.faq
        h1 Can I bring my friend/collegue along?
        p Yes, This event is free but with limited seats, Registration is mandatory. 
      li.faq
        h1 Can I get my laptop?
        p We have all the arrangements, Bring along your laptop to make the best use of this meetup.
    
