section.contact(id="contact")
  .content.para
    h2 Contact us
    .details
      br
      h3 EMAIL
      p: a(href="mailto:info@drupalhyderabad.org") info@drupalhyderabad.org
      br
      h3 PHONE NUMBER
      p Sai Viswanath: +91 730 633 4303
      p Sumanth: +91 9533 952 924      
      br
    .twitter-tweets
      a.twitter-timeline(data-height="400", data-chrome="nofooter", data-link-color="#820bbb", data-border-color="#a80000" href="https://twitter.com/drupalhyderabad?ref_src=twsrc%5Etfw") Tweets by drupalhyderabad
