section.venue(id="venue")
  .content.para
    h2 Venue
    .map
      div.venue_name
        h2 Swecha
        p Beside Center for Good Governance,
        p Near New Gopichand Badminton Academy,
        p Gachibowli X Road, Hyderabad - 500032
        br
        p
          a(href="https://goo.gl/maps/mi1zVC83Zeq", target="_blank") View Larger Map
      div.venue_map
        //- iframe(width="700" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=78.35438489913942%2C17.432821611341776%2C78.3663582801819%2C17.438891487112357&amp;layer=mapnik&amp;marker=17.435851456532664%2C78.36037158966064" style="border: 1px solid black")
        iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15225.987825582546!2d78.3604114!3d17.4359127!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa0c03250867be025!2sSwecha+Office!5e0!3m2!1sen!2sin!4v1509649218544" width="700" height="300" frameborder="0" style="border:0" allowfullscreen)
