section.venue(id="venue")
  .content.para
    h2 Venue
    .map
      div.venue_name
        h2 Swecha
        p Beside Center for Good Governance,
        p Near New Gopichand Badminton Academy,
        p Gachibowli X Road, Hyderabad - 500032
        br
        p
          a(href="//www.openstreetmap.org/?mlat=17.43586&amp;mlon=78.36037#map=17/17.43587/78.36037") View Larger Map
      div.venue_map
        iframe(width="700" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="//www.openstreetmap.org/export/embed.html?bbox=78.35626244544984%2C17.432831847389963%2C78.36448073387147%2C17.43890172281997&amp;layer=mapnik&amp;marker=17.435861692410857%2C78.36037158966064" style="border: 1px solid black")
